{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <form method="POST" action='/search/'>
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class='btn btn-outline-success'>Submit</button>
    </form>

    {% for search in search %}
    <div class="card">
        <div class="card-header bg-success">
            Address: {{search.city}}, {{search.state}}, {{search.zipcode}}, {{search.country}}
        </div>
        <div class="card-body">
          <h5 class="card-title">Domain: {{search.searchdomain}}</h5>
          <p class="card-text">The creation date is {{search.creation_date}} and the domain Expires on {{search.expiration_date}}</p>
          <h6 class="text-muted float-right">Organisation: {{search.org}}</h6>
        </div>
        <div class="card-footer text-muted">
            Searched On: {{search.date}}
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}