{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <form method="POST" action='/search/'>
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class='btn btn-outline-success'>Submit</button>
    </form>

    {% for search in search %}
    <div class="card details">
        <div class="card-header bg-success">
            Address: {{search.city}}, {{search.state}}, {{search.zipcode}}, {{search.country}}
        </div>
        
        <div class="card-body">
            <h5 class="card-title">Domain: {{search.searchdomain}}</h5>
            <p class="card-text">The creation date is {{search.creation_date}} and the domain Expires on {{search.expiration_date}}</p>
            <h6 class="text-muted float-right">Organisation: {{search.org}}</h6>
            <div class="float-right">

                <a href='/delete/{{search.id}}' class="delete">
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </a>
            
            </div>
        </div>
        <div class="card-footer text-muted">
            Searched On: {{search.date}}
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}