a{
    color: #000000!important;
}

button{
    margin: 10px 0px;
}

.delete{
    position: absolute;
    top: 50%;
    right: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 20px;
    display: flex;
    text-align: right;
}

.details{
    margin: 10px 0px;
}

.username{
    position: absolute;
    right: 0;
    top: 50;
    padding: 0px 80px;
}

.buylink{
    font-size: 12px;
}